#Application
APP_HOST=0.0.0.0
APP_PORT=4000

DATABASE_URL=postgres://postgres:YOUR_PASSWORD@localhost/rust_db

JWT_SECRET=change_this_in_production

#Environment
RUST_LOG=info

#Optional
SMS_PROVIDER=mock
